/* components/loader/RadarLoader.css */
.radar-loader {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .circle {
    position: absolute;
    border: 20px solid #623E2A;
    border-radius: 50%;
    opacity: 0;
    animation: radar 4s infinite;
  }
  
  .circle:nth-child(1) {
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    animation-delay: 0s;
  }
  
  .circle:nth-child(2) {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    animation-delay: 0.5s;
  }
  
  .circle:nth-child(3) {
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    animation-delay: 1s;
  }
  
  .circle:nth-child(4) {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    animation-delay: 1.5s;
  }
  
  @keyframes radar {
    0% {
      opacity: 1;
      transform: scale(0.1);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  